# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/
test_venv/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# PyTorch
# =========================

*.pth

# =========================
# Optuna databases
# =========================

*.db

# =========================
# Dataset
# =========================

data/MNIST/
data/raw/
data/processed/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Python cache
# =========================

.pytest_cache/
.mypy_cache/

# =========================
# Logs
# =========================

*.log

# =========================
# Environment variables
# =========================

.env
.env.*